<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Users (<a href = "{{ url_for('new') }}">Add User</a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Username</th>
               <th>Full Name</th>
               <th>Team Id</th>
               <th>Team Name</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.fullname }}</td>
                  <td>{{ user.team_id }}</td>
                  <td>{{ user.team }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <br>
      <br>
      <table>
         <thead>
            <tr>
               <th>Team_Id</th>
               <th>Team Name</th>
               <th>Users</th>
            </tr>
         </thead>

         <tbody>
            {% for team in teams %}
               <tr>
                  <td>{{ team.team_id }}</td>
                  <td>{{ team.team_name }}</td>
                  <td>{{ team.users }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>
